/* toroam.com 2012 - the running, hiking, journey exchange for everyone
 *
 *  boxes CSS
 */


.toroamnavicon {
	height: 20px;
	margin-top: 2px;
}

/*
#gpxdetails input { font-size:xx-small !important; padding:0; margin:0; height: 15px !important; background:#CDEBF5;}
#gpxdetails table td {padding:0 !important;}
#gpxdetails table th {text-align:left !important;}
*/